apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: rag-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: distributed-rag-platform-api-gateway:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: rag-system
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30080