apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingestion-service
  namespace: rag-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingestion
  template:
    metadata:
      labels:
        app: ingestion
    spec:
      containers:
        - name: ingestion
          image: distributed-rag-platform-ingestion-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8001
          resources:
            requests:
              cpu: "300m"
              memory: "512Mi"
            limits:
              cpu: "800m"
              memory: "1Gi"
          volumeMounts:
            - mountPath: /shared-data
              name: rag-storage
      volumes:
        - name: rag-storage
          persistentVolumeClaim:
            claimName: rag-storage
---
apiVersion: v1
kind: Service
metadata:
  name: ingestion-service
  namespace: rag-system
spec:
  selector:
    app: ingestion
  ports:
    - port: 8001
      targetPort: 8001